.formField {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0.5rem auto;
  width: 70%;
}

.formField > label {
  margin: 5px 10px;
  font-size: 14px;
  color: var(--grey);
}

.formField > input {
  width: 100%;
}

@media (max-width: 768px) {
  .formField {
    width: 90%;
  }
}
