.navbar {
  display: flex;
  justify-content: space-between;
  height: 65px;
  width: 100vw;
  background: var(--light-grey);
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.3);
}

.logoContainer {
  display: block;
  width: 110px;
  height: 110px;
  margin: 0 3rem;
  border-radius: 50%;
  background: var(--light-grey);
}

.logo {
  position: relative;
  width: 100px;
  margin: 5px;
}

.navbarList {
  margin-right: 4rem;
}

.navbarList ul {
  display: flex;
  list-style: none;
}

.navbarList ul li {
  margin: 0.5rem;
}

@media (max-width: 768px) {
  .navbar {
    justify-content: center;
  }

  .navbarList {
    display: none;
  }
}
