.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  width: 80%;
  margin: 4rem;
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  background: var(--very-light-grey);
}
