.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  width: 600px;
  margin: 4rem;
  padding: 3rem 2rem;
  border: none;
  border-radius: var(--border-radius);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  background-color: var(--white);
}

.form {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 15px;
}

.form h4 {
  font-family: 'Lato';
  font-weight: 600;
}

.submitBtn {
  margin: 1.5rem auto;
  color: var(--white);
  background: var(--main);

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0px 5px 15px rgba(44, 157, 243, 0.5);
}

@media (max-width: 768px) {
  .content {
    width: 100%;
    height: 100%;
    box-shadow: none;
    margin: 4rem 2rem;
  }
}

/* .container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  width: 40%;
  margin: 4rem;
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  background: var(--very-light-grey);
  border-radius: 15px;
  border: none;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.form > h4 {
  font-family: 'Lato';
  font-weight: 600;
}

.submitBtn {
  width: 200px;
  margin: 1.5rem auto;
  color: var(--white);
  background: var(--main);
  display: flex;
  align-items: center;
  justify-content: center;
}

.submitBtn:disabled {
  background: var(--dark-grey);
}

@media (max-width: 1080px) {
}

@media (max-width: 768px) {
  .content {
    width: 80%;
    margin: 4rem 2rem;
  }
} */
