:root {
  --main: #2c9df3;
  --dark-blue: #1c4d73;
  --grey: #898989;
  --white: #ffffff;
  --font-color: #262626;
  --light-grey: #eaeaea;
  --dark-grey: #696969;
  --very-light-grey: #fbfbfb;
  --very-dark-grey: #2a2a2a;
  --red: #c6262c;
  --light-red: #ed5353;
  --yellow: #f9c440;
  --green: #68b723;
  --border-radius: 10px;
  --light-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.02);
}

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: var(--font-color);
  background: var(--white);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Sora';
  font-weight: 600;
}

input,
textarea,
select {
  min-height: 45px;
  font: 400 1rem 'Sora', sans-serif;
  border: 1px solid var(--light-grey);
  background: var(--white);
  border-radius: var(--border-radius);
  padding: 10px;
  box-sizing: border-box;
  box-shadow: var(--light-box-shadow);
}

label {
  font: 400 1rem 'Sora', sans-serif;
}

button {
  min-width: 200px;
  min-height: 45px;

  border: none;
  padding: 10px;
  border-radius: var(--border-radius);
  font: 400 1rem 'Sora', sans-serif;

  cursor: pointer;
}

button:disabled {
  background: var(--grey);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

button:focus {
  filter: brightness(95%);
  color: var(--white);
}

::placeholder {
  color: var(--light-grey);
}

a {
  color: var(--main);
  text-decoration: none;
}

.inputError,
.textareaError,
.selectError {
  border: 1px solid var(--red);
}

.errorMsg {
  font-size: 12px;
  margin-top: 5px;
  color: var(--light-red);
}

.Toastify__toast {
  border-radius: var(--border-radius);
  font-family: 'Lato';
  align-items: center !important;
  justify-content: center;
}

.Toastify__close-button {
  display: none;
}

.Toastify__toast--dark {
  background: var(--very-dark-grey);
  color: var(--white) !important;
}
.Toastify__toast--default {
  background: var(--very-light-grey) !important;
  color: var(--font-color) !important;
}
.Toastify__toast--info {
  background: var(--dark-blue) !important;
}
.Toastify__toast--success {
  background: var(--green) !important;
  color: var(--white);
}
.Toastify__toast--warning {
  background: var(--yellow) !important;
  color: var(--font-color);
}
.Toastify__toast--error {
  background: var(--light-red) !important;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 93.75%;
  }
}
